body {
  background-repeat: repeat-y;
  background-position: right;
}
h1 {
  font-family: 'Playfair Display', serif;
}
h2 {
  font-family: 'Delicious Handrawn', cursive;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  padding: 3px 10px;
  cursor: pointer;
}
#button {
  position: absolute;
  top: 50;
  right: 50;
}
.Gambar {
  margin-bottom: 5%;
}
